<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Album example · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

    <!-- Bootstrap core CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.3/examples/album/album.css" rel="stylesheet">
  </head>
  <body>
  	
    <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
        </div>
        <div class="col-sm-4 offset-md-1 py-4">

        <% @users.each do |user| %>
        <% if user.name == session[:user] %>
		<a class="text-white"<%= link_to "Profile", "users/" + user.id.to_s %></a>
		<a class="text-white"<%= link_to "Edit profile", "users/" + user.id.to_s + "/edit" %></a>
		<% if user.admin == true %>
			<a class="text-white"<%= link_to "Admin users", "users/" %></a>
		<% end %>
        <% end %>
        <% end %>
		
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>noteApp</strong>
      </a>
      <a href="/notes/new" class="navbar-brand d-flex align-items-center">


        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 60 60" focusable="false"><path d="M 45.5,34.051 V 7 c 0,-0.553 -0.448,-1 -1,-1 h -8 V 4 c 0,-0.553 -0.448,-1 -1,-1 h -6 V 1 c 0,-0.553 -0.448,-1 -1,-1 h -9 c -0.552,0 -1,0.447 -1,1 v 2 h -6 c -0.552,0 -1,0.447 -1,1 v 2 h -8 c -0.552,0 -1,0.447 -1,1 v 50 c 0,0.553 0.448,1 1,1 h 34.104 c 2.002,1.26 4.362,2 6.896,2 7.168,0 13,-5.832 13,-13 0,-6.831 -5.299,-12.436 -12,-12.949 z M 20.5,2 h 7 v 2 2 h -7 V 4 Z m -7,3 h 5 v 2 c 0,0.553 0.448,1 1,1 h 9 c 0.552,0 1,-0.447 1,-1 V 5 h 5 v 2 2 h -21 V 7 Z m -9,51 V 8 h 7 v 2 c 0,0.553 0.448,1 1,1 h 23 c 0.552,0 1,-0.447 1,-1 V 8 h 7 v 26.038 c -0.057,0.004 -0.112,0.016 -0.169,0.021 -0.195,0.018 -0.387,0.046 -0.579,0.073 -0.229,0.031 -0.459,0.062 -0.684,0.104 -0.193,0.037 -0.381,0.083 -0.571,0.128 -0.219,0.052 -0.438,0.105 -0.652,0.168 -0.187,0.055 -0.37,0.118 -0.553,0.181 -0.21,0.072 -0.418,0.146 -0.623,0.229 -0.179,0.072 -0.355,0.15 -0.531,0.23 -0.2,0.091 -0.397,0.185 -0.591,0.285 -0.171,0.088 -0.339,0.181 -0.505,0.277 -0.188,0.108 -0.373,0.22 -0.555,0.338 -0.162,0.104 -0.321,0.211 -0.477,0.322 -0.177,0.125 -0.349,0.255 -0.519,0.389 -0.15,0.118 -0.298,0.237 -0.442,0.361 -0.165,0.142 -0.325,0.289 -0.482,0.439 -0.137,0.13 -0.273,0.261 -0.405,0.397 -0.152,0.157 -0.297,0.32 -0.441,0.485 -0.124,0.142 -0.248,0.283 -0.365,0.43 -0.138,0.172 -0.267,0.35 -0.396,0.529 -0.109,0.152 -0.22,0.302 -0.323,0.459 -0.123,0.187 -0.235,0.38 -0.349,0.573 -0.093,0.16 -0.189,0.317 -0.276,0.48 -0.107,0.203 -0.202,0.412 -0.299,0.62 -0.076,0.165 -0.157,0.327 -0.227,0.496 -0.09,0.219 -0.167,0.444 -0.245,0.668 -0.059,0.167 -0.123,0.332 -0.175,0.502 -0.073,0.24 -0.129,0.486 -0.188,0.731 -0.039,0.163 -0.086,0.322 -0.12,0.487 -0.055,0.275 -0.091,0.557 -0.128,0.838 -0.019,0.142 -0.047,0.28 -0.062,0.423 C 31.523,46.13 31.5,46.562 31.5,47 c 0,0.435 0.023,0.867 0.066,1.294 0.016,0.162 0.048,0.318 0.07,0.479 0.036,0.263 0.068,0.526 0.12,0.785 0.035,0.175 0.085,0.345 0.127,0.518 0.058,0.239 0.112,0.479 0.184,0.714 0.049,0.159 0.11,0.313 0.165,0.47 0.084,0.243 0.167,0.487 0.266,0.724 0.055,0.133 0.12,0.26 0.18,0.39 0.115,0.254 0.232,0.507 0.363,0.753 0.058,0.107 0.123,0.21 0.184,0.315 0.148,0.259 0.298,0.515 0.464,0.763 0.061,0.091 0.128,0.177 0.191,0.267 0.176,0.25 0.356,0.498 0.551,0.736 0.072,0.088 0.15,0.17 0.224,0.256 0.155,0.18 0.303,0.364 0.468,0.536 H 4.5 Z m 40,2 c -2.258,0 -4.359,-0.686 -6.107,-1.857 -0.341,-0.228 -0.663,-0.476 -0.972,-0.736 -0.108,-0.091 -0.21,-0.19 -0.314,-0.286 -0.197,-0.179 -0.388,-0.363 -0.57,-0.554 -0.117,-0.123 -0.23,-0.248 -0.341,-0.375 -0.164,-0.188 -0.318,-0.384 -0.468,-0.583 -0.096,-0.127 -0.195,-0.251 -0.286,-0.382 -0.221,-0.321 -0.429,-0.651 -0.615,-0.993 -0.043,-0.08 -0.077,-0.165 -0.118,-0.245 -0.146,-0.286 -0.282,-0.576 -0.403,-0.874 -0.052,-0.13 -0.097,-0.263 -0.145,-0.396 -0.094,-0.262 -0.18,-0.527 -0.255,-0.796 C 33.868,49.784 33.831,49.646 33.798,49.505 33.731,49.22 33.679,48.931 33.635,48.64 33.616,48.515 33.592,48.392 33.578,48.265 33.531,47.848 33.5,47.426 33.5,47 c 0,-6.065 4.935,-11 11,-11 6.065,0 11,4.935 11,11 0,6.065 -4.935,11 -11,11 z"
   id="path2"
   style="fill:#fffffb;fill-opacity:1"
   inkscape:connector-curvature="0" />
  <path
   d="m 50.5,46 h -5 v -5 c 0,-0.553 -0.448,-1 -1,-1 -0.552,0 -1,0.447 -1,1 v 5 h -5 c -0.552,0 -1,0.447 -1,1 0,0.553 0.448,1 1,1 h 5 v 5 c 0,0.553 0.448,1 1,1 0.552,0 1,-0.447 1,-1 v -5 h 5 c 0.552,0 1,-0.447 1,-1 0,-0.553 -0.448,-1 -1,-1 z"
   id="path4"
   style="fill:#fffffb;fill-opacity:1"
   inkscape:connector-curvature="0" />
  <path
   d="m 9.5,18 h 13 c 0.552,0 1,-0.447 1,-1 0,-0.553 -0.448,-1 -1,-1 h -13 c -0.552,0 -1,0.447 -1,1 0,0.553 0.448,1 1,1 z"
   id="path6"
   style="fill:#fffffb;fill-opacity:1"
   inkscape:connector-curvature="0" />
  <path
   d="m 22.5,46 h -13 c -0.552,0 -1,0.447 -1,1 0,0.553 0.448,1 1,1 h 13 c 0.552,0 1,-0.447 1,-1 0,-0.553 -0.448,-1 -1,-1 z"
   id="path8"
   style="fill:#fffffb;fill-opacity:1"
   inkscape:connector-curvature="0" />
  <path
   d="m 9.5,24 h 29 c 0.552,0 1,-0.447 1,-1 0,-0.553 -0.448,-1 -1,-1 h -29 c -0.552,0 -1,0.447 -1,1 0,0.553 0.448,1 1,1 z"
   id="path10"
   style="fill:#fffffb;fill-opacity:1"
   inkscape:connector-curvature="0" />
  <path
   d="m 9.5,36 h 24 c 0.552,0 1,-0.447 1,-1 0,-0.553 -0.448,-1 -1,-1 h -24 c -0.552,0 -1,0.447 -1,1 0,0.553 0.448,1 1,1 z"
   id="path12"
   style="fill:#fffffb;fill-opacity:1"
   inkscape:connector-curvature="0" />
  <path
   d="m 28.5,40 h -19 c -0.552,0 -1,0.447 -1,1 0,0.553 0.448,1 1,1 h 19 c 0.552,0 1,-0.447 1,-1 0,-0.553 -0.448,-1 -1,-1 z"
   id="path14"
   style="fill:#fffffb;fill-opacity:1"
   inkscape:connector-curvature="0" />
  <path
   d="m 9.5,30 h 14 c 0.552,0 1,-0.447 1,-1 0,-0.553 -0.448,-1 -1,-1 h -14 c -0.552,0 -1,0.447 -1,1 0,0.553 0.448,1 1,1 z"
   id="path16"
   style="fill:#fffffb;fill-opacity:1"
   inkscape:connector-curvature="0" />
  <path
   d="m 38.5,28 h -7 c -0.552,0 -1,0.447 -1,1 0,0.553 0.448,1 1,1 h 7 c 0.552,0 1,-0.447 1,-1 0,-0.553 -0.448,-1 -1,-1 z"
   id="path18"
   style="fill:#fffffb;fill-opacity:1"
   inkscape:connector-curvature="0" />
  <path
   d="m 26.79,28.29 c -0.18,0.189 -0.29,0.449 -0.29,0.71 0,0.26 0.11,0.52 0.29,0.71 0.19,0.189 0.45,0.29 0.71,0.29 0.26,0 0.52,-0.101 0.71,-0.29 0.18,-0.19 0.29,-0.45 0.29,-0.71 0,-0.261 -0.11,-0.521 -0.29,-0.71 -0.37,-0.37 -1.05,-0.37 -1.42,0 z"
   id="path20"
   style="fill:#fffffb;fill-opacity:1"
   inkscape:connector-curvature="0" /></svg>
        <strong>New note</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome to noteApp</h1>
    </div>
  </section>

  <div class="album py-5 bg-light">

    <div class="form-signin">

      <div class="row">
        <% @notes.each do |note| %>
        <% if note.user.name == session[:user] %>
        <div class="col-md-4">
          <p class="card-text">

          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"><%= note.content %></text></svg>
            <div class="card-body">
              
      <tr>
        <td></td>
      </tr>
    </p>
              <div class="d-flex justify-content-between align-items-center">
              	<p class="float-right"><%= note.title %></p>
                <div class="btn-group">
                  <a type="button" href="<%= root_url %>notes/<%= note.id %>/" class="btn btn-sm btn-outline-secondary">View</a>
                  <a type="button" href="<%= root_url %>notes/<%= note.id %>/edit" class="btn btn-sm btn-outline-secondary" >Edit</a>
                  <a type="button" class="btn btn-sm btn-outline-secondary" <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></a>

		  <div>
                  <svg id="img<%= note.id %>" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="30" height="30" viewBox="0 0 673.221 673.222" style="enable-background:new 0 0 673.221 673.222;"
	 xml:space="preserve">
<g>
        
<path d="M470.486,136.597c13.158-13.77-13.158-41.279-26.347-27.509L138.69,428.215c0,0-68.452,71.543-5.263,137.547
		c63.188,66.035,131.672-5.508,131.672-5.508l321.269-335.621c0,0,84.272-88.036-5.263-181.581
		c-89.536-93.544-173.809-5.508-173.809-5.508L86.028,373.196c0,0-121.115,126.562-5.264,247.615s236.997-5.508,236.997-5.508
		l321.27-335.652c13.158-13.739-13.158-41.279-26.347-27.509L291.446,587.764c0,0-94.799,99.052-184.335,5.508
		c-89.535-93.544,5.264-192.565,5.264-192.565L433.613,65.054c0,0,57.926-60.527,121.146,5.508
		c63.188,66.035,5.263,126.562,5.263,126.562L238.783,532.745c0,0-42.136,44.033-79.009,5.508s5.263-82.528,5.263-82.528
		L470.486,136.597z"/>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g><g><g></g><g></g><g></g>
                  </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

	<script type="text/javascript">
	if("<%= note.cover_file_name %>" == ""){
		var currentImg = document.getElementById("img<%= note.id %>");
		currentImg.style.visibility = 'hidden';
	}
	</script>
      <% end %>
        <% end %>

</main>

<footer class="text-muted">
  <div class="form-signin">
    <p class="float-right">
      <a href="#">Back to top</a>
      <% @users.each do |user| %>
  		<% if user.name == session[:user] %>
  			<% if user.admin == true %>
  				<p> Hola admin! </p>
  				<h1 class="text-dark"><strong> Notes administration panel </strong></h1>
  				<table class="table text-center">
  					<thead>
  						<tr>
  							<th> ID Nota </th>
  							<th> Titulo </th>
  							<th> Contenido </th>
  							<th> Propietario </th>
  							<th> ID Propietario </th>
  							<th colspan="3"></th>
  						</tr>
  					</thead>
  					<tbody>
  						<% @notes.each do |note| %>
  							<tr>
  								<td><%=note.id%></td>
  								<td><%=note.title%></td>
  								<td><%=note.content%></td>
  								<td><%=note.user.name%></td>
  								<td><%=note.user.id%></td>
  								<td><%= link_to "Show", note %></td>
  								
  							</tr>
  							<%end%>
  			<% end %>
  			<%end%>
  			<%end%>
    </p>
  </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
