<h1>Showing Note</h1>
<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @note.cover.url() %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user.name %>
</p>

<p>
  <strong>Shared:</strong>
  <%= @note.shared %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Destroy', @note, method: :delete, data: { confirm: 'Are you sure?' }  %> |
<%= link_to 'Back', notes_path %>
